/*подключаем шрифты*/
/* font-family: "GothamProRegular"; */
@font-face {
    font-family: "GothamProRegular";
    src: url("../fonts/GothamProRegular.eot");
    src: url("../fonts/GothamProRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamProRegular.woff") format("woff"),
    url("../fonts/GothamProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "GothamProBold"; */
@font-face {
    font-family: "GothamProBold";
    src: url("../fonts/GothamProBold.eot");
    src: url("../fonts/GothamProBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamProBold.woff") format("woff"),
    url("../fonts/GothamProBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "GothamProBlack"; */
@font-face {
    font-family: "GothamProBlack";
    src: url("../fonts/GothamProBlack.eot");
    src: url("../fonts/GothamProBlack.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamProBlack.woff") format("woff"),
    url("../fonts/GothamProBlack.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* RESET */

*{
    padding: 0;
    margin: 0 auto;
}

/* MAIN */

html, body {
    width: 100%;
    min-height: 100%;
}
body {
    background: url("../images/bg.jpg") no-repeat 50% 50% fixed;
    background-size: cover;
}
.wrap {
    width: 642px;
    padding-bottom: 120px;
    font: 13px "GothamProRegular";
}

/* FONTS PARAGRAHPS */

h1 {
    padding: 30px 0;
    font: 36px "GothamProBold";
}
h2 {
    padding-bottom: 30px;
    font: 26px "GothamProBold";
}

/* FORMS BUTTONS INPUTS LINKS IMG */

input, label {
    display: block;
}
input {
    height: 21px;
    float: left;
}
label {
    width: 90%;
    padding-left: 15px;
}
label span {
    position: absolute;
}
br {
    clear: both;
}

/* HEADER */

header {
    color: #fff;
    text-align: center;
}
.logo {
    width: 248px;
    display: block;
    font: 21px/40px "GothamProBlack";
    text-transform: uppercase;
    letter-spacing: 5px;
    border-bottom: 2px solid #fff;
}

/* CONTENT, SECTION */
.link_to_main{
    background: #8a41a4;
    color: white;
    padding: 15px 0;
    display: block;
    width: 410px;
    font-size: 20px;
    text-decoration: none;}
.content {
    background-color: #fff;
}
section {
    margin: 0 40px 0 54px;
}

/* CONTENT-HEADER */

.content-header {
    height: 285px;
    margin: 0;
}
.content-header-text {
    margin: 0 80px 0 48px;
    padding-top: 57px;
    font-size: 15px;
    font-weight: bold;
    line-height: 16px;
    height: 142px;
}

/* TEST */

.test {
    margin: 26px 50px 48px 54px;
}
.test p, .answers p {
    font-size: 19px;
    margin-bottom: 18px;
}
.test input, .test label {
    cursor: pointer;
}
.test form p:hover {
    color: #b369c3;
}
input[type="radio"] {
    display: none;
}
input[type="radio"] + label span.radio-button {
    display:inline-block;
    width:16px;
    height:16px;
    margin: 2px 0 0 -36px;
    background: url(../images/sprite.png) no-repeat -16px 1px;
}
.test form p:hover input[type="radio"] + label span.radio-button {
    background: url(../images/sprite.png) no-repeat -16px -15px;
}
input[type="radio"]:checked + label span.radio-button {
    background: url(../images/sprite.png) no-repeat 0 1px;
}
.test form p:hover input[type="radio"]:checked + label span.radio-button {
    background: url(../images/sprite.png) no-repeat 0 -15px;
}

/* QUOTE */

.quote {
    margin-right: 48px;
}
.answer .quote {
    padding-bottom: 50px;
}
.picture-user {
    width: 115px;
    float: left;
    margin-top: -1px;
}
.picture-user p {
    font-size: 15px;
    font-weight: bold;
    color: #9e9e9e;
    line-height: 18px;
}
.picture-user b {
    display: block;
    padding: 18px 0 15px;
    font: 15px "GothamProBold";
}
.balloon {
    width: 373px;
    float: right;
    background-color: #efefef;
}
.balloon p {
    padding: 20px 20px 20px 22px;
    font-weight: bold;
    color: #919191;
    line-height: 16px;
}
.balloon::before {
    content: ' ';
    margin-left: -39px;
    display: block;
    float: left;
    border: 20px solid;
    border-color: #efefef #efefef transparent transparent;
}

/* CONTENT-FOOTER */

.content-footer {
    margin-top: 24px;
    padding-top: 10px;
    padding-bottom: 59px;
}
a.next {
    width: 226px;
    height: 52px;
    padding-top: 13px;
    display: block;
    float: left;
    font-size: 15px;
    font-weight: bold;
    color: #b369c3;
    text-align: center;
    text-decoration: none;
    border: 3px solid #ebd8ef;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
a.next:hover {
    color: #fff;
    background-color: #b369c3;
    border: 3px solid #b369c3;
}
.arrow {
    display: inline-block;
    width: 20px;
    height: 6px;
    background: url("../images/sprite.png") no-repeat 6px -58px;
    -webkit-transition-delay: 0.1s;
    -o-transition-delay: 0.1s;
    -moz-transition-delay: 0.1s;
    transition-delay: 0.1s;
}
.next:hover .arrow {
    background: url("../images/sprite.png") no-repeat 6px -90px;
}
.progress {
    margin-top: 59px;
    border-top: 4px solid #f3f3f3;
}
.progress p {
    padding-top: 10px;
    margin-top: -4px;
    float: left;
    text-align: center;
    border-top: 4px solid #b5b5b5;
}

/* PROGRESS */

.pr-1 {
    width: 70px;
}
.pr-2 {
}
.pr-3 {
    width: 156px;
}
.pr-4 {
    width: 197px;
}
.pr-5 {
    width: 267px;
}
.pr-6 {
    width: 341px;
}
.pr-7 {
    width: 400px;
}
.pr-8 {
    width: 451px;
}
.pr-9 {
    width: 479px;
}
.pr-10 {
    width: 100%;
}

/* CORRECT, INCORRECT */

.correct, .incorrect {
    padding: 3px 7px;
    margin-left: 10px;
    font: 13px "GothamProBold";
    color: #fff;
    text-transform: uppercase;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
.correct {
    background-color: #3dd144;
}
.incorrect {
    background-color: #cf6161;
}
.green, .red {
    font-weight: bold;
}
.green {
    color: #3dd144;
}
.red {
     color: #cf6161;
}

/* FORM */

.form {
    padding-top: 85px;
    padding-bottom: 120px;
    margin-top: 55px;
    text-align: center;
    display: none;
}
form.results {
    width: 299px;
    height: 150px;
    margin-top: 30px;
}
form.results input {
    width: 281px;
    height: 45px;
    padding-left: 14px;
    font-size: 16px;
    background-color: transparent;
    border: 2px solid #dcdcdc;
}
form.results input:hover {
    border-color: #d3aedb;
}
form.results input:focus {
    border-color: #b369c3;
    outline: none;
}
form.results input[type=submit] {
    width: 299px;
    height: 50px;
    padding-left: 0;
    cursor: pointer;
    font: 20px "GothamProBold";
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    background-color: #84528f;
    border: 2px solid #84528f;
    -webkit-transition: color, background-color 0.3s ease-in-out;
    -o-transition: color, background-color 0.3s ease-in-out;
    -moz-transition: color, background-color 0.3s ease-in-out;
    transition: color, background-color 0.3s ease-in-out;
}

.quest_tab{display: none;}
.quest_tab.active{display: block;}