#cart_msg{position: fixed;top:0;left:0;width: 100%;height: 100%;text-align: center;z-index: 900;}
#cart_shadow{position: absolute;top:0;left:0;width: 100%;height: 100%;background: rgba(0, 0, 0, 0.69);cursor: pointer;}
#cart_msg_wrap{display: inline-block;width: 70vw;position: relative;background: white;padding: 4vw;max-height: 80%;font-size: 3vw;}
#cart_msg_wrap .close{position: absolute;top:-30px;right: -30px;width: 18px;height: 19px;background: url(../img/close.png);pointer-events: none;background-size: 18px;background-repeat: no-repeat;}
#cart_msg_cont{height: 100%;overflow-x:hidden;}

.quest_line{border-top:1px solid gray;border-bottom:1px solid gray;padding-bottom:20px;}
.quest_line:nth-child(2n){background: lightgray;}


.left_zone{width: 40%;margin-right: 5%;display: inline-block;vertical-align: top;}
.content_true_answer{width: 50%;display: inline-block;vertical-align: top;}
.hid_input{width: 100%;height: 0;border:0;opacity: 0;overflow: hidden;}